$text-color: rgba(0,0,0,.65);
$text-color-darker: rgba(0,0,0,.85);
$border: 1px solid #d9d9d9;
$border-radius: 4px;

@mixin boxShadow {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 0 0 0 rgba(0, 0, 0, 0.12);
}

.category-list,
.topic-list,
.latest-topic-list {
  @include boxShadow;
  background-color: lighten($secondary, 10%);
}

.topic-list {
  tr, thead, tbody {
    border: none;
  }

  th, td {
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    font-size: 14px;
  }

  th {
    background: #fafafa;
    text-align: left;
    color: $text-color-darker;
    font-weight: 500;
    padding: 16px 0px;
  }

  td {
    color: $text-color;
    padding: 16px 8px;
  }

  .main-link,
  .badge-posts {
    font-size: 14px;
  }

  .badge-posts {
    color: $text-color;
  }
}

.nav-pills > li {
  height: 45px;
  margin-right: 0;
}

.nav-pills > li > a {
  font-size: 14px;
  font-weight: normal;
  margin: 0 32px 0 0;
  padding: 12px 16px;
  transition: color .3s cubic-bezier(.645,.045,.355,1);
}

.nav-pills > li.active > a,
.nav-pills > li > a.active {
  background-color: $secondary;
  border-bottom: 2px solid $tertiary;
  color: $tertiary;
}

.nav-pills > li > a:hover {
  background-color: $secondary;
}

.user-main .nav-pills {
  a.active i {
    color: $primary;
  }
  a:hover:not(.active) i {
    color: $quaternary;
  }
}

.topic-body {
  @include boxShadow;
  background-color: lighten($secondary, 10%);
  margin-top: 10px;
  border-radius: 2px;
  padding: 12px 20px 0 20px;
}

.topic-avatar {
  border-top: 0;
  padding-right: 10px;
  .avatar-flair {
    right: 4px;
  }
}

.topic-status-info {
  border-top: 0;
}

.embedded-posts .topic-avatar {
  padding-left: 0px;
}

.embedded-posts.top.topic-body {
  box-shadow: none;
  background-color: $secondary;
}

.menu-panel ul.menu-links li a,
.menu-panel ul li.heading a {
  color: $text-color;
  font-size: 14px;
  line-height: 21px;
  padding: 5px 12px;
  transition: all 0.3s;
}

.menu-panel ul.menu-links li a:hover,
.menu-panel ul.menu-links li a:focus,
.menu-panel ul li.heading a:hover,
.menu-panel ul li.heading a:focus {
  background: #fff7e6;
  color: $tertiary;
}

.select-kit.combo-box .select-kit-header {
  border: $border;
  border-radius: $border-radius;
}

input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  padding: 4px 11px;
  height: 32px;
  font-size: 14px;
  line-height: 1.5;
  color: $text-color;
  border: $border;
  border-radius: $border-radius;
  transition: all .3s;
}

div.ac-wrap {
  background: transparent;
  border: none;
}

div.ac-wrap input[type="text"] {
  background: #fff;
  border: $border;
}

//Proper spacing for iPad portrait
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .timeline-container {
    margin-left: 820px;
  }
  .topic-admin-popup-menu {
    left: -40% !important;
  }
}

//Properly space notifications button
.widget-button.btn.notifications-dropdown {
  right: 4px;
  position: relative;
  border-radius: 40px;
  width: 30px;
  padding: 6px;
}

//cards for search results
.fps-result {
  @include boxShadow;
  background-color: lighten($secondary, 10%);
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
}

@keyframes background-fade-highlight {
  0% {
    background-color: lighten($tertiary, 20%);
  }
  100% {
    background-color: lighten($secondary, 10%);
  }
}

// clipped user page button shadows
.user-main .about .controls {
  padding-right: 10px;
}

// RTL Overrides
.rtl {
  .topic-avatar {
    padding-right: initial;
    padding-left: 10px;
    .avatar-flair {
      right: initial;
      left: 4px;
    }
  }
  .embedded-posts .topic-avatar {
    padding-left: initial;
    padding-right: 0;
  }
  #create-topic.btn-default {
    right: initial;
    left: 50px;
    padding: 24px 5px 22px 20px;
  }
  .widget-button.btn.create {
    left: initial;
    right: -18px;
  }
  .widget-button.btn.notifications-dropdown {
    right: initial;
    left: 4px;
  }
  .user-main .about .controls {
    padding-right: initial;
    padding-left: 10px;
  }
}

// RTL Overrides
@media only screen and (min-width: 768px) and (max-width: 1250px) {
  .rtl {
    .timeline-container {
      margin-left: initial;
      margin-right: 820px;
    }
    .topic-admin-popup-menu {
      left: initial !important;
      right: -40% !important;
    }
  }
}
